#doc-wrapper {
    min-height: 100vh;
    position: relative;
}

#doc-sidebar {
    position: absolute;
    min-height: 100%;
    width: 288px;
    background-color: #212121;
}

#doc-nav {
    position: fixed;
    top: 5%;
}

#doc-contents {
    margin-left: 288px;
}